[Unit]
Description=Kubernetes Proxy

[Service]
Environment=KUBECONFIG=/usr/local/etc/kube_config_cluster.yml
ExecStart=/usr/local/bin/kubectl proxy --disable-filter=true --address=0.0.0.0 --port=8001

[Install]
WantedBy=multi-user.target
